#A {
		background-color: #3c3c44;
		width: 1200px;
		height: 80px;
	}
#B {
		background-color: #e6e6e6;
		width: 1200px;
		height: 185px;
	}
#BB {
		position: absolute;
		top: 160px;
		left: 650px;
	}
#C {
		background-color: #3c3c44;
		width: 1200px;
		height: 730px;
	}
#CC {
		position: absolute;
		background-color: #e6e6e6;
		top: 365px;
		left: 365px;
		width: 780px;
		height: 690px;
	}
#CCC {
		position: absolute;
		top: 0px;
		left: 0px;
}
#D {
		background-color: #e6e6e6;
		width: 1200px;
		height: 50px;
	}
#E {
		background-color: #3c3c44;
		width: 1200px;
		height: 50px;
	}
.a1 {
		position: absolute;
		top: 80px;
		left: 100px;
	}

.a2 {
		position: absolute;
		top: 130px;
		left: 402px;
	}
.a3 {
		position: absolute;
		top: 130px;
		left: 530px;
	}
.a4 {
		position: absolute;
		top: 130px;
		left: 657px;
	}
.a5 {
		position: absolute;
		top: 130px;
		left: 784px;
	}
.a6 {
		position: absolute;
		top: 130px;
		left: 911px;
	}
.a7 {
		position: absolute;
		top: 130px;
		left: 1038px;
	}
.a8 {
		position: absolute;
		top: 98px;
		left: 911px;
	}
	



.b1 {
		position: absolute;
		top: 190px;
		left: 100px;
	}
.b2 {
		position: absolute;
		top: 215px;
		left: 100px;
	}
.b3 {
		position: absolute;
		top: 240px;
		left: 100px;
	}
.b4 {
		position: absolute;
		top: 265px;
		left: 100px;
	}
.b5 {
		position: absolute;
		top: 290px;
		left: 100px;
	}
	
	
	
	
	
.c1 {
		position: absolute;
		top: 365px;
		left: 100px;
	}
.c2 {
		position: absolute;
		top: 405px;
		left: 100px;
	}
.c3 {
		position: absolute;
		top: 435px;
		left: 100px;
	}
.c4 {
		position: absolute;
		top: 465px;
		left: 100px;
	}
.c5 {
		position: absolute;
		top: 495px;
		left: 100px;
	}
.c6 {
		position: absolute;
		top: 525px;
		left: 100px;
	}
.c7 {
		position: absolute;
		top: 555px;
		left: 100px;
	}
.c8 {
		position: absolute;
		top: 585px;
		left: 100px;
	}
.c9 {
		position: absolute;
		top: 615px;
		left: 100px;
	}
.c10 {
		position: absolute;
		top: 655px;
		left: 100px;
	}	
	
	
	
	
	
	
	
	
	
	